@{
    ViewBag.Title = "Index";
}

<div ui-view>
    @section scripts{
    <script src="~/Scripts/site/todoService.js"></script>
    <script src="~/Scripts/site/todoController.js"></script>
        }
</div>